/* MOBILE */

@media (max-width: 767px) {


  .hero {

    padding: 1rem;

  }



  .hero-logo {

    width: 92vw;

    max-width: 520px;

  }



  .hero-counter {

    width: 92vw;

    max-width: 520px;

  }



  .hero-subtitle {

    font-size: 1.7rem;

    line-height: 4;

  }



   .footer {
    padding: 0.9rem 0.8rem;
    font-size: 0.85rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 0.75rem; /* prevents text collapse */
  }

  .footer-column {
    width: auto;
    flex: 1;
  }

  .footer-column:first-child {
    text-align: left;
  }

  .footer-column:last-child {
    text-align: right;
  }

}




/* TABLET */

@media (min-width: 768px) and (max-width: 1023px) {


  .hero-logo {

    width: 92vw;

    max-width: 520px;

  }



  .hero-counter {

    width: 92vw;

    max-width: 520px;

  }

    .hero-subtitle {
      font-size: 1.9rem;
    line-height: 4;
  }

}




/* DESKTOP */

@media (min-width: 1024px) {


  .hero-logo {

    width: 520px;

  }



  .hero-counter {

    width: 520px;

  }


  .hero-subtitle {
      font-size: 2.3rem;
    line-height: 4;
  }

}




/* LARGE DESKTOP */

@media (min-width: 1800px) {


  .hero-logo {

    width: 520px;

  }



  .hero-counter {

    width: 520px;

  }
.hero-subtitle {
     font-size: 2.6rem;
    line-height: 4;
  }

}
